html {
    box-sizing: border-box;
}

}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    max-height: 850px;
    max-width: 500px;
    justify-content: center;
    padding: 5px;
}

body {
    background: #ffffff url('../img/geometry2.jpg'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    background: white;
    color: gray;
    height: 700px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1 0 auto;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/** Card deck styles **/

 #deck {
     width: 275px;
     min-height: 480px;
     background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
     padding: 32px;
     border-radius: 10px;
     box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
     margin: 0 0 3em;
 }

ul#deck > li {
      margin: 2px;
      padding: 10px;
      height: 55px;
      width: 40px;
      background: #2e3d49;
      font-size: 0;
      color: #ffffff;
      border-radius: 8px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  }


/** Score panel styles **/
  .outline {
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      color: #FFF;
  }

.score-panel {
    text-align: left;
    width: 250px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.timeCounter {
  list-style: none;
  margin-left: 10px;
  float: right;
  display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

/** Pop up styles **/
.modal {
  display: none;
  position: fixed;
  margin: auto;
  z-index: 1;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.show{
  display: block;
}

.modal-content {
  background-color: #f4f4f4;
  border-radius: 14px;
  margin: 20% auto;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalOpen;
  animation-duration: 1.5s;
}

.modal-header h2 {
  margin: 0;
}

.modal-header {
  border-top-right-radius: 14px;
  border-top-left-radius: 14px;
  background: linear-gradient(-160deg, #02ccba 0%, #aa7ecd 100%);
  padding: 15px;
  color: white;
}

.modal-body h1 {
  font-weight: bold;
  font-size: 40px;
}

.modal-body {
  padding: 10px 20px;
  background: #2e3d49;
  color: white;
  text-align: center;
}

.modal-footer {
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: linear-gradient(-160deg, #02ccba 0%, #aa7ecd 100%);
  margin: 0;
  padding: 10px;
  color: white;
  text-align: center;
}

.trophy {
  width: 180px;
  height: 180px;
  margin: auto;
}

.restartBtn {
  padding: 10px;
  margin: 0;
  border-radius: 7px;
  background: #2e3d49;
  color: white;
  margin: auto;
  font-size: 30px;
  cursor: pointer;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.closeBtn {
  padding: 10px;
  margin: 0;
  border-radius: 7px;
  background: #2e3d49;
  color: white;
  margin: auto;
  font-size: 30px;
  cursor: pointer;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

@keyframes modalOpen {
  from {opacity: 0}
  to {opacity: 1}
}
